@using EPiServer.Web.Mvc.Html
@model CMS.Blocks.ViewModel.HeaderBlockViewModel

<div id="headerblock" style="background-color:palevioletred;height:auto;padding:10px">
    <h1 style="margin: 0px;padding: 20px;">
        @Model.Title
    </h1>
    @foreach(var link in Model.Links)
    {
        <a href=@link.URL>@link.Title</a>
    }
</div>