<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>@ViewBag.Title</title>
    </head>
<body style="margin: 0px;">
        <div id="body" >
            @RenderBody()
        </div>
    </body>
</html>